@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

/* Menu responsive - CSS only toggle */
#menu-toggle:checked ~ .menu-container #mobile-menu {
    display: block;
}

#menu-toggle:checked + label .menu-icon {
    display: none;
}

#menu-toggle:checked + label .close-icon {
    display: block;
}
